{namespace yourAppName.templates}


/**
 * Main demo template for bootstrap.
 */
{template .main}
    <div class="{css container}">
        Google Closure Library Bootstrap Repo
    </div>
{/template}
